<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Management</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand text-light fw-bold" href="#">EduCore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Connect With us</a>
            </li>
            
          </ul>
          <form class="d-flex mx-auto w-50" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <h3 class="p-3">Dashboard</h3>
    <div class="card mx-2 rounded-3 bg-secondary">
      <h5 class="card-title mx-4 mt-2">Quick Stats</h5>
      <div class="card-body d-flex gap-3 p-0">
          <div class="border border-secondary d-inline-block w-25 px-4 rounded-3 bg-danger">
            <p class=" lead">Total Students</p>
            <h2>1,450</h2>
          </div>
          <div class="border border-secondary d-inline-block w-25 px-4 rounded-3 bg-warning">
            <p class=" lead">Total Teachers</p>
            <h2>210</h2>
          </div>
          <div class="border border-secondary d-inline-block w-25 px-4 rounded-3 bg-success">
            <p class=" lead">Classes Today</p>
            <h2>45</h2>
          </div>
          <div class="border border-secondary d-inline-block w-25 px-4 rounded-3 bg-info">
            <p class=" lead">Pending Enrollments</p>
            <h2>15</h2>
          </div>
        </div>
      </div>
    </div>

    <div class=" card mx-2 mt-4 rounded-3" style="width: 100%;">
      <h5 class=" mx-2 mt-2">Recent Student Enrollments</h5>
      <table class="table table-hover table-striped table-dark">
        <thead>
          <tr class="table-active table-primary">
            <th scope="col">Student Name</th>
            <th scope="col">Roll No</th>
            <th scope="col">Gender</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Deepak</td>
            <td>2267654</td>
            <td>BCA</td>
            <td><a href="" class="btn btn-outline-info">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Ananya</td>
            <td>2254654</td>
            <td>Class 12th</td>
            <td><a href="" class="btn btn-outline-light">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Pawan</td>
            <td>2245098</td>
            <td>BCA</td>
            <td><a href="" class="btn btn-outline-danger">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Vivek</td>
            <td>2098776</td>
            <td>BCA</td>
            <td><a href="" class="btn btn-outline-primary">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Saurav</td>
            <td>2667654</td>
            <td>BCA</td>
            <td><a href="" class="btn btn-outline-success">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Jahnavi</td>
            <td>2067654</td>
            <td>Class 12th</td>
            <td><a href="" class="btn btn-outline-warning">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Divya</td>
            <td>1967654</td>
            <td>BSc</td>
            <td><a href="" class="btn btn-outline-secondary">Active</a></td>
            <td>Null</td>
          </tr>
          <tr>
            <td>Sana</td>
            <td>1867654</td>
            <td>BTech</td>
            <td><a href="" class="btn btn-outline-info">Active</a></td>
            <td>Null</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </body>
</html>
